@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Tristan Jansen</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script defer src="~/js/site.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
    <div class="cookies">
        By clicking ”Accept”, you agree to the storing of cookies on your device to
        enhance site navigation, analyze site usage, and improve marketing.
        <button class="button-accept">Accept</button>
        <button class="button-reject">Reject</button>

    </div>

    <div class="page">
        <section class="personalia">
            <img class="person-logo" src="~/Images/result-Bird.png00000.png">
            <h1 class="person-name">Tristan Jansen</h1>
            <div class="personalia-charactiristic__title">
                <h3 class="profile-content__category-title">Eigenschappen</h3>
                <hr>
            </div>
            <div class="personalia-charactiristic__list">
                <ol>
                    <li>Aardig</li>
                    <li>Rustig</li>
                    <li>Vriendelijk</li>
                    <li>Doorzettend</li>
                </ol>
            </div>
        </section>

        <section class="profile">

            <section class="profile-content">

                <div class="profile-content__category--hidden-mobile">
                    <h3 class="profile-content__category-title">Profiel</h3>
                    <hr>
                </div>

                <div class="profile-content__element--hidden-mobile">
                    <div class="profile-content__element-header">
                    </div>
                    <p class="profile-content__description">
                        Als persoon ben ik erg rustig en kalm in de aanpak dit kan je zien aan mijn werk ervaring!
                    <p>
                </div>

                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Opleidingen</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Mavo</h4>
                        <p class="profile-content__period">jan 2015 - juni 2019</p>
                    </div>
                    <p class="profile-content__institute">Groene Driehoek, Hoogeveen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Havo</h4>
                        <p class="profile-content__period">jan 2019 - juni 2021</p>
                    </div>
                    <p class="profile-content__institute">Groene Driehoek, Hoogeveen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">HBO-ICT</h4>
                        <p class="profile-content__period">jan 2021 - heden</p>
                    </div>
                    <p class="profile-content__institute">Windesheim, Zwolle</p>
                </div>

                <div class="profile-content_category">
                    <h3 class="profile-content__category-title">Werkervaring</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Krantenwijk</h4>
                        <p class="profile-content__period">jan 2015 - 2017 </p>
                    </div>
                    <p class="profile-content__institute">B&L Verspreidingen, Hoogeveen</p>
                </div>
                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">DRD Knaagdierwinkel</h4>
                        <p class="profile-content__period">sep 2018 - feb 2020 </p>
                    </div>
                    <p class="profile-content__institute">DRD Knaagdierwinkel, Hoogeveen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">All round mederwerker</h4>
                        <p class="profile-content__period">feb 2020 - sep 2022 </p>
                    </div>
                    <p class="profile-content__institute">McDonalds Hoogeveen, Hoogeveen</p>
                </div>



            </section>

        </section>
    </div>

</body>

</html>